body {
    margin: 0;
}

.container {
    background: url("../images/Poster.jpg") no-repeat center center fixed;
    height: 100vh;
    background-size: cover;

}

.layout {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}


.header_top {
    padding: 15px 0;
    display: flex;
    gap: 200px;
    /*align-items: center;*/
    justify-content: space-between;
}

.header_top_input {
    height: 25px;
    border: 2px solid #D1D5DB;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    width: 400px;
    outline: none;
}

.header_bottom {
    color: white;
    padding: 100px 20px;
    width: 294px;
}

.header_bottom_h1{
    font-size: 48px;
    height: 90px;
}

.header_bottom_rating {
    display: flex;
    gap: 30px;
}

.header_bottom_button {
    margin: 16px 0;
    width: 169px;
    height: 36px;
    background: #BE123C;
    border: none;
    font-size: 14px;
    color: white;
    border-radius: 6px;
}

.main {
    margin: 100px 0;
}
.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main_header p::after {
    content: url("../images/Chevron right.png");
    position: absolute;
}
